.App {
  text-align: center;
}

.machine-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.machine-list div:hover {
  background-color: #f0f0f0;
}

.machine-detail {
  text-align: left;
  margin: 20px;
}

.machine-detail ul {
  list-style-type: none;
  padding: 0;
}

.machine-detail li {
  padding: 5px 0;
}