.link {
  text-decoration: none;
  color: inherit;
}

.machineItem {
  margin-bottom: 20px; /* Añade espacio entre los items */
}

.machineItem h3 {
  margin: 0;
  color: black;
  font-size: 1.5rem; /* Ajusta el tamaño del texto */
}

.machineItem p {
  margin: 5px 0;
  color: black;
  font-size: 1rem; /* Ajusta el tamaño del texto */
}
